body {
  margin: 0;
  padding: 0;
  height: 100%; 
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("./assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'H','Trebuchet MS',Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'H','Trebuchet MS',Helvetica;
}
html {
  background-color:#1F273C;
  height:100%;
  }

